<div id="<%= dom_id restaurant %>">
  <h3 class="mb-3">
    <strong class="text-primary"><%= restaurant.name %></strong>
  </h3>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category %>
  </p>
</div>
