<nav class="navbar navbar-default bg-light py-3 border-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Restaurants", restaurants_path %>
    </div>
    <div class="navbar-right">
      <%= link_to "New Restaurant", new_restaurant_path %>
    </div>
  </div>
</nav>

<div class="container m-4">
  <div class="div-restaurant">
    <%= render @restaurant %>
  </div>
  <div class="div-reviews mt-5 flex-column">
    <div class="navbar navbar-default review-bar form-control">
      <div class="container-fluid">
        <div>
          <h3 class="text-secondary"><strong>Reviews</strong></h3>
        </div>
        <div>
          <%= link_to "Add Review", new_restaurant_review_path(@restaurant.id), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
    <div class="review-content">
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= "#{review.rating}/5 - #{review.content}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
